<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--<meta charset="utf-8">-->
    <title>ToDoList</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>To Do List</h1>
    </div>
    <br/><br/><br/>

    <div style="text-align: center">
        <form class="form-inline" onsubmit="return false">
            <input id = "toDoList_description" type="text" placeholder="TO DO LIST" style="width: 250px">
            <input type="submit" id="insert" value="저장">
        </form>
    </div>

    <div id="mainHide" align="center" style="text-align: center;">
        <table class="table table-striped" align="center" style="text-align: center;">
            <thead>
            <tr>
                <th style="padding:13px 0 0 15px;">ToDoList</th>
                <th><button type="button" class="logout" style="outline: none; border: 0px; background-color: white"><a href="/toDoList/logout">logout</a></button></th>

            </tr>
            <tr>
                <th class="col-md-1" align="center" style="text-align: center">#</th>
                <th class="col-md-2" align="center" style="text-align: center">완료 여부</th>
                <th class="col-md-5" align="center" style="text-align: center">내용</th>
                <th class="col-md-2" align="center" style="text-align: center">생성 날짜</th>
                <th class="col-md-2" align="center" style="text-align: center">완료 날짜</th>
                <th class="col-md-5" align="center" style="text-align: center">댓글</th>
                <th class="col-md-5" align="center" style="text-align: center">수정</th>
                <th class="col-md-5" align="center" style="text-align: center">삭제</th>
            </tr>
            </thead>
            <tbody id="row" th:each="toDoList : ${tdlList}">
            <tr  style="background-color: white" >
                <td th:text="${toDoList.idx}"></td>
                <td th:if="!${toDoList.status}"><button type="button" class="status" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white"><img src="/images/not_checked.png" width="25px" height="25px"></button></td>
                <td th:if="${toDoList.status}"><button type="button" class="status" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white"><img src="/images/checked.png" width="25px" height="25px"></button></td>
                <td class="description" th:text="${toDoList.description}" data-th-value="${toDoList.idx}" contenteditable="true"></td>
                <td th:text="${toDoList.createdDate} ? ${#temporals.format(toDoList.createdDate,'yyyy-MM-dd HH:mm')} : ${toDoList.createdDate}"></td>
                <td th:text="${toDoList.completedDate} ? ${#temporals.format(toDoList.completedDate,'yyyy-MM-dd HH:mm')} : ${toDoList.completedDate}"></td>
                <td><button type="button" class="reply" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white"><img class="btn-img" src="/images/reply.png" width="25px" height="25px" style="background-color: white"></button></td>
                <td><button type="button" class="update" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white"><img class="btn-img" src="/images/update.png" width="25px" height="25px" style="background-color: white"></button></td>
                <td><button type="button" class="delete" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white"><img class="btn-img" src="/images/delete.png" width="25px" height="25px" style="background-color: white"></button></td>

            <tr class="insertReply">
                <td><input class="inputReply" type="text" style="width: 250px" data-th-value="${toDoList.idx}"></td>
                <td><button class="saveReply" type="button" data-th-value="${toDoList.idx}"> 저장 </button></td>
            </tr>
            </tr>

            </tbody>
        </table>
    </div>
    <br/>
</div>
<script th:src="@{/js/jquery.min.js}"></script>


<script>

</script>

<script>
    $('.insertReply').hide();

    $('.status').click(function () {

        $.ajax({
            url: "http://localhost:8080/toDoList/api/status/" + $(this).val(),
            type: "PUT",
            contentType: "application/json",
            dataType: "json",
            success: function() {
                alert('완료 갱신 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('완료 갱신 실패!');
            }
        });
    });

</script>

<script>


    $('#insert').click(function () {


        var jsonData = JSON.stringify({
            description: $('#toDoList_description').val()
        });
        $.ajax({
            url: "http://localhost:8080/toDoList/api/list",
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('저장 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('저장 실패!');
            }
        });
    });

    $('.update').click(function () {

        var dc = $(this).parent().parent().find('.description').text()

        $.ajax({
            url: "http://localhost:8080/toDoList/api/update/" + $(this).val(),
            type: "PUT",
            data: dc,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('수정 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('수정 실패!');
            }
        });
    });

    $('.delete').click(function () {
        $.ajax({
            url: "http://localhost:8080/toDoList/api/delete/" + $(this).val(),
            type: "DELETE",
            contentType: "application/json",
            success: function () {
                alert('삭제 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('삭제 실패!');
            }
        });
    });
    $('.reply').click(function () {
            var reply_id = $(this).val();

            var reply_parent_id = $(this).parent().parent().parent().find('.insertReply');

            reply_parent_id.fadeToggle();

    });

    $('.saveReply').click(function () {

        var v = $(this).val() - 1;
        var reply_text = $('.insertReply input').eq(v).val();
        var jsonData = JSON.stringify({
            content: reply_text
        });
        $.ajax({
            url: "http://localhost:8080/toDoList/api/reply/" + $(this).val(),
            type: "POST",
            data: jsonData,
            contentType: "application/json",
            dataType: "json",
            success: function () {
                alert('댓글 저장 성공!');
                location.href = '/toDoList/list';
            },
            error: function () {
                alert('댓글 저장 실패!');
            }
        });
    });


</script>
</body>
</html>