<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--<meta charset="utf-8">-->
    <title>ToDoList</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="page-header" style="text-align: center">
        <h1>To Do List</h1>
        <button type="button" class="logout" style="outline: none; border: 0px; background-color: white; margin-left: 600px;"><a href="/toDoList/logout" style="font-size: large">logout</a></button>
    </div>
    <br/><br/><br/>

    <div style="text-align: center;">
        <form class="form-inline" onsubmit="return false" style="text-align: center">
            <input id = "toDoList_description" type="text" placeholder="TO DO LIST" style="width: 250px; text-align: center">
            <input type="submit" id="insert" value="저장" style="text-align: center">
        </form>
    </div>

    <br/><br/><br/>

    <div>
        <div th:each="toDoList : ${tdlList}" style="background-color: white; border: solid; border-color: #269abc; border-radius: 8px; padding: 40px 40px 30px 10px; margin-bottom: 30px;">
            <div>
                <button th:if="!${toDoList.status}" type="button" class="status" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white; float: left"><img src="/images/not_checked.png" width="25px" height="25px"></button>
                <button th:if="${toDoList.status}" type="button" class="status" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white; float: left"><img src="/images/checked.png" width="25px" height="25px"></button>
                <h1 style="margin-left: 50px" class="description" th:text="${toDoList.description}" data-th-value="${toDoList.idx}" contenteditable="true"></h1>
            </div>
            <h3 style="height: 33%;" th:text="${toDoList.createdDate} ? ${#temporals.format(toDoList.createdDate,'yyyy-MM-dd HH:mm')} : ${toDoList.createdDate}"></h3>
            <h3 style="height: 33%;" th:text="${toDoList.completedDate} ? ${#temporals.format(toDoList.completedDate,'yyyy-MM-dd HH:mm')} : ${toDoList.completedDate}"></h3>
            <button type="button" class="update" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white; float: right"><img class="btn-img" src="/images/update.png" width="25px" height="25px" style="background-color: white"></button>
            <button type="button" class="delete" data-th-value="${toDoList.idx}" style="outline: none; border: 0px; background-color: white; float: right"><img class="btn-img" src="/images/delete.png" width="25px" height="25px" style="background-color: white"></button>
            <button type="button" class="reply" style="outline: none; border: 0px; background-color: white; float: right"><img class="btn-img" src="/images/reply.png" width="25px" height="25px" style="background-color: white"></button>

            <div class="insertReply" style="display:none;">
                <input id="inputReply" class="inputReply" type="text" style="width: 250px">
                <button class="saveReply" type="button" data-th-value="${toDoList.idx}"> 저장 </button>
            </div>
            <div id="showReply" class="showReply" style="display: none;">
                <ul id="ulReply" style="list-style-type:none;">
                    <li class="liReply" th:each="reply : ${toDoList.replies}">
                        <h3 class="content" th:text="${reply.content}" data-th-value="${reply.idx}" contenteditable="true"></h3>
                        <h5 class="createdDate" th:text="${reply.createdDate} ? ${#temporals.format(reply.createdDate,'yyyy-MM-dd HH:mm')} : ${reply.createdDate}"></h5>
                        <button type="button" id="updateReply" class="updateReply" data-th-value="${reply.idx}" th:text="수정" style="outline: none; border: 0px; background-color: white"></button>
                        <button type="button" id="deleteReply" class="deleteReply" data-th-value="${reply.idx}" th:text="삭제" style="outline: none; border: 0px; background-color: white"></button>
                    </li>
                </ul>
            </div>
        </div>
        <br/><br/><br/>
    </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/list.js}"></script>
</body>
</html>