<!DOCTYPE>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
</head>
<body>
<div class="login-form">
    <form th:action="@{/toDoList/login}" method="post">
        <div><label> <input type="text" name="username"/> </label></div>
        <div><label> <input type="password" name="password"/> </label></div>
        <div><input type="submit" value="Sign In"/></div>
    </form>
    <div class="links">
        <button><a href="http://localhost:8080/toDoList/register">계정이 없으신가요?</a></button>
    </div>
    </br>
    <div class="links">
        <button><a href="http://localhost:8080/toDoList/findID">ID를 잊어버리셨나요?</a></button>
    </div>
    </br>
    <div class="links">
        <button><a href="http://localhost:8080/toDoList/findPW">Password를 잊어버리셨나요?</a></button>
    </div>
</div>
</body>
</html>